<!DOCTYPE html>
    <title>Home Page</title>
      <link rel="stylesheet" type="text/css" href="/css/front-end.css">

    <body>
        <nav class="navbar">
            <div class="menu-bar">
                <ul >
                    <div class="logo"><img src="images/web1_blood1.jpg" alt="logo"></div>
                    <li class="active"> <a href="#"> Home </a> </li>
                    <li> <a href="#about"> About Us </a>
                        <div class="sub-menu-1">
                            <ul>
                                <li> <a href="#"> About website </a> </li>
                                <li> <a href="#"> What's the purpose </a></li>
                            </ul>
                        </div>
                    </li>
                    <li> <a href="#"> Trace </a></li>
                    <li> <a href="#"> Looking For Blood </a>
                        <div class="sub-menu-1">
                            <ul>
                                <li> <a href="#"> Blood Bank Directory</a> </li>
                                <li> <a href="#"> Blood availability </a> </li>
                                <li> <a href="#"> Thalassemia Request </a> </li>
                            </ul>
                        </div>
                    </li>
                    <li> <a href="#"> Donate Blood </a>
                        <div class="sub-menu-1">
                            <ul>
                                <li> <a href="#"> Two Step Verification </a></li>
                                <li> <a href="#"> Hospital LOG-In </a></li>
                            </ul>
                        </div>
                    </li>
                    <li> <a href="/users/login"> Log-In </a>
                        <div class="sub-menu-1">
                            <ul>
                                <li> <a href="#"> Admin LOG-In </a></li>
                                <li> <a href="#"> Testing Agency </a></li>
                                <li class="hover-me"> <a href="#"> Donor Log-In </a></li>
                                <li> <a href="#"> Hospital Log-In </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    

        <section class="background firstsection">
            <div class="box-main">
                <div class="firsthalf">
                    <div class="pad">
                        <p class="text-big">Blood-line?</p>
                    </div>
                    <p class="text-small">
                    <details>
                        <summary>
                            An e-blood bank management system is a digital platform used to manage the storage,
                            inventory,
                            and
                            distribution of blood products within a blood bank or blood donation center. It allows for
                            the
                            efficient tracking and management of blood products from the time of donation to the time of
                            transfusion, helping to ensure the safety and quality of the blood supply.
                        </summary>

                        Some of the key features of an e-blood bank management system include:



                        Blood testing and processing: This module includes functions for managing blood testing and
                        processing, including tracking test results and ensuring that blood products meet safety and
                        quality
                        standards.

                        Transfusion management: This module includes functions for managing the transfusion of blood
                        products, including tracking patient information, blood product orders, and transfusion records.



                        Overall, an e-blood bank management system can help to streamline blood bank operations, reduce
                        errors, and improve patient safety by ensuring that the right blood products are available at
                        the
                        right time and that they meet safety and quality standards.
                    </details>
                    </p>
                    <div class="buttons">
                        <button class="btn"> Learn more></button>

                    </div>
                </div>
                <div class="secoundhalf">
                    <img src="images/Blood-Donor-Month.png" alt="bloodimg">

                </div>
            </div>
        </section>
        <section class="section">
            <div class="paras">
                <p class="sectiontag text-big">
                    Why Blood block-Chain
                </p>
                <p class="sectionsubtag text-small">
                    Blockchain is a decentralized digital ledger technology that allows for secure, transparent, and
                    tamper-proof recording of transactions or data. It consists of a distributed database that is shared
                    among a network of computers or nodes, and each block in the chain contains a record of multiple
                    transactions.

                    Once a block is added to the chain, it cannot be altered or deleted, ensuring the integrity of the
                    data
                    stored on the blockchain. Transactions on the blockchain are verified by a network of users, rather
                    than
                    a centralized authority, making it a trustless system.

                </p>
            </div>
            <div class="thumbnail">
                <img src="images/web1_blood1.jpg" alt="block-Chain" class="imgFluid">
            </div>
        </section>

        <section class="section-left">
            <div class="paras">
                <p class="sectiontag text-big">
                    Why Blood block-Chain
                </p>
                <p class="sectionsubtag text-small">
                    Blockchain is a decentralized digital ledger technology that allows for secure, transparent, and
                    tamper-proof recording of transactions or data. It consists of a distributed database that is shared
                    among a network of computers or nodes, and each block in the chain contains a record of multiple
                    transactions.

                    Once a block is added to the chain, it cannot be altered or deleted, ensuring the integrity of the
                    data
                    stored on the blockchain. Transactions on the blockchain are verified by a network of users, rather
                    than
                    a centralized authority, making it a trustless system.
                </p>
            </div>
            <div class="thumbnail">
                <img src="images/web1_blood1.jpg" alt="block-Chain" class="imgFluid">
            </div>
        </section>
        <section class="section">
            <div class="paras">
                <p class="sectiontag text-big">
                    Why Blood block-Chain
                </p>
                <p class="sectionsubtag text-small">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam aliquid autem esse
                    mollitia
                    deleniti hic, maxime perspiciatis fugit? Eligendi modi accusamus, quas fuga totam suscipit, sapiente
                    repudiandae cupiditate cumque alias neque impedit sunt. Voluptatem numquam necessitatibus sint
                    suscipit
                    debitis officiis atque perferendis repellendus, accusantium facere autem eos dolorem! Quo impedit
                    cupiditate
                    pariatur iste vero corrupti minima a laboriosam, ipsam quasi sapiente. Rerum pariatur aut officiis,
                    numquam

                </p>
            </div>
            <div class="thumbnail utn">
                <img src="images/web1_blood1.jpg" alt="logo" class="imageFluid">

            </div>
        </section>
        <!-- <section class="contact">
              <h2 class="text-centre "> contact us </h2>
              <div class="form">
    
        <input class="from-input" type="text" name="name" id="name" placeholder="Enter your name"> 
        <input class="from-input" type="text" name="phone" id="name" placeholder="Enter your phone no">
        <input class="from-input" type="text" name="email" id="name" placeholder="Enter your email">
        <textarea class="from-input" name="text" id="text" cols="30" rows="10" placeholder="Elaborate your consern"></textarea>
        <button class="btn btn-sm btn-dark">Submit</button>
    </div>
        </section> -->
        <section class="contact">
            <h2 id="about" class="text-centre">
                About Us
            </h2>
            <p>
            <h3> As a blood program leader, you will have access to our Online Blood Bank Management Portal. A powerful,
                easy-to-use tool that helps to trace and manage activities at different areas of blood bank management
                using
                the latest technology of blockchain.
            </h3>

            </p>
        </section>

        <!-- <section class="background firstsection">
      <section class="contact">
            <h2 id="about" class="text-centre">
                About Us
            </h2>
            <p>
            <h3> As a blood program leader, you will have access to our Online Blood Bank Management Portal. A powerful,
                easy-to-use tool that helps to trace and manage activities at different areas of blood bank management using
                the latest technology of blockchain.
            </h3>
    
            </p>
        </section> 
    
        </section> -->